<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<meta charset="UTF-8">
		<title>三思设备管理系统</title>
		<link rel="stylesheet" href="../bootstrap-3.3.7/dist/css/bootstrap.css">
		<link rel="stylesheet" href="../css/mycss.css">
		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../node_modules/popper.js/dist/umd/popper.js" type="text/javascript" charset="utf-8"></script>
		<script src="../bootstrap4/js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/echarts.js"></script>
		<style type="text/css">
			.bordertop {
				border-right: 2px solid rgba(200, 220, 201, 1);
				border-image: linear-gradient(rgba(200, 220, 201, 1), transparent, rgba(200, 220, 201, 1), transparent) 5 5;
			}
			.blur {
			        filter: blur(2px);
			        -webkit-filter: blur(2px);
			      }
			
			      .close {
			        display: none;
			      }
			
			      .elastic-layer1 {
			        background: rgba(213, 220, 217, 0.2);
			        width: 400px;
			        height: 130px;
			        position: absolute;
			        top: 47%;
			        left: 40%;
			        z-index: 1000;
			      }
			
			      .elastic-layer2 {
			        background: rgba(213, 220, 217, 0.2);
			        width: 400px;
			        height: 30px;
			        position: absolute;
			        top: 10%;
			        left: 43%;
			        z-index: 1000;
			      }
		</style>
	</head>
	<body>
		<div class="container-fluid" id="app">
			<header class="row" style="background-color: rgb(8,17,46);">
				<div><a href="equipmentList.html" class="hoverChange1"><span></span></a></div>
				<div>
					<img src="../img/system2.jpg" alt="">
					<h1>光伏上网开关状态监测系统</h1>
				</div>
				<div>
					<span></span>
					<!-- <a href="" class="hoverChange1"><i class="glyphicon glyphicon-fullscreen"></i><span>全屏</span></a> -->
				</div>
			</header>
			<section class="elastic-layer1" :class="[activeClass1]" style="border-radius: 10px;">
				<div class="login-panel">
				  <div style="background-color: #dfdfdf;border-radius: 10px;">
					<h4 style="color: black;text-align: center;display: block;margin: 0;line-height: 30px;">是否确认将{{eqinfo}}的{{swithnum}}开关{{switchstatus}}</h4>
				  </div>
				  <input type="email" class="form-control" v-model="password" placeholder="请输入密码" style="width: 300px;margin-left: 50px;margin-top: 10px;">
				  <button class='btn btn-default' style="margin-top: 10px;margin-left: 100px;background-color: #e63431;color: white;" @click="conform1()">确定</button>
				  <button class='btn btn-default' style="margin-top: 10px;margin-left: 75px;" @click="cancel1()">取消</button>
				</div>
			  </section>
			      <section class="elastic-layer2" :class="[activeClass2]" style="border-radius: 10px;background-color: initial;">
			        <div class="login-panel">
			          <div style="">
			            <ul v-for="(item,i) in content" >
			            	<li style="margin-top: 3px;background-color: #ff1437;border-radius: 10px;">
								<a href="javascript:void(0)" style="" @click="cancel2(i)">
									<h4 style="color: white;text-align: center;margin: 0;line-height: 30px;width: 80%;float: left;margin-left: 20px;">
									{{item}}
									</h4>
									<i class="glyphicon glyphicon-remove" style="float: right;font-size: 15px;color: white;margin-top: 8px;margin-right: 8px;"></i>
									<div class="clearfix"></div>
								</a>
							</li>
							<div class="clearfix"></div>
						</ul>
			            <div class="clearfix"></div>
			          </div>
			        </div>
			      </section>
			<div class="row padLeft borderBox padRight" style="background-color: rgb(0,0,51);">
				<div class="row clearfix">
					<div class="itemDiv2 float-left marLeft col-md-9" style="height:50vh" id="baidumap">
						<div class="leftTop"></div>
						<div class="rightTop"></div>
						<div class="leftBottom"></div>
						<div class="rightBottom"></div>
						<h4 class="fontColWhite" style="font-weight: 900;">设备位置</h4>
						<div id="equipmentChinaMap" style="height:85%"></div>
					</div>
					<div class="itemDiv2 float-left marLeft col-md-2" style="height:50vh">
						<div class="leftTop"></div>
						<div class="rightTop"></div>
						<div class="leftBottom"></div>
						<div class="rightBottom"></div>
						<h4 class="fontColWhite" style="font-weight: 900;">设备地址</h4>
						<div style="height:85%">
							<ul style="margin-top: 14%;">
								<li style="margin-top: 5%;"><button type="button" class="btn btn-primary btn-lg" style="width: 40%;margin-left: 8%;font-size: 0.8vw;"
									 @click="getinfo(1)" v-if="accessGrade[0]">龙舟坪镇</button><button type="button" class="btn btn-primary btn-lg" style="width: 40%;margin-left: 10%;font-size: 0.8vw;"
									 @click="getinfo(2)" v-if="accessGrade[1]">磨市镇</button></li>
								<li style="margin-top: 5%;"><button type="button" class="btn btn-primary btn-lg" style="width: 40%;margin-left: 8%;font-size: 0.8vw;"
									 @click="getinfo(3)" v-if="accessGrade[2]">大堰乡</button><button type="button" class="btn btn-primary btn-lg" style="width: 40%;margin-left: 10%;font-size: 0.8vw;"
									 @click="getinfo(4)" v-if="accessGrade[3]">都镇湾镇</button></li>
								<li style="margin-top: 5%;"><button type="button" class="btn btn-primary btn-lg" style="width: 40%;margin-left: 8%;font-size: 0.8vw;"
									 @click="getinfo(5)" v-if="accessGrade[4]">鸭子口乡</button><button type="button" class="btn btn-primary btn-lg" style="width: 40%;margin-left: 10%;font-size: 0.8vw;"
									 @click="getinfo(6)" v-if="accessGrade[5]">资丘镇</button></li>
								<li style="margin-top: 5%;"><button type="button" class="btn btn-primary btn-lg" style="width: 40%;margin-left: 8%;font-size: 0.8vw;"
									 @click="getinfo(7)" v-if="accessGrade[6]">渔峡口镇</button><button type="button" class="btn btn-primary btn-lg" style="width: 40%;margin-left: 10%;font-size: 0.8vw;"
									 @click="getinfo(8)" v-if="accessGrade[7]">火烧坪乡</button></li>
								<li style="margin-top: 5%;"><button type="button" class="btn btn-primary btn-lg" style="width: 40%;margin-left: 8%;font-size: 0.8vw;"
									 @click="getinfo(9)" v-if="accessGrade[8]">榔坪镇</button><button type="button" class="btn btn-primary btn-lg" style="width: 40%;margin-left: 10%;font-size: 0.8vw;"
									 @click="getinfo(10)" v-if="accessGrade[9]">贺家坪镇</button></li>
								<li style="margin-top: 5%;"><button type="button" class="btn btn-primary btn-lg" style="width: 40%;margin-left: 8%;font-size: 0.8vw;"
									 @click="getinfo(11)" v-if="accessGrade[10]">高家堰镇</button><button type="button" class="btn btn-primary btn-lg" style="width: 40%;margin-left: 10%;font-size: 0.8vw;" v-if="accessGrade[11]" @click="getinfoall()" >全体</button></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="row padLeft borderBox padRight" style="background-color: rgb(0,0,51);"  v-if="allinfo">
				<div class="row clearfix">
					<div class="itemDiv2 float-left marLeft col-md-6" style="border: 0px;height:auto;">
						<h4 class="fontColWhite" style="font-weight: 900;">设备状态</h4>
						<div class="bordertop" style="height:85%;padding-left: 0;padding-right: 2%;color: white;">
							<table class="marTop table" id='table1' style="font-size: 0.5vw;table-layout:fixed">
								<thead style="text-align: center;">
									<th style="text-align: center;width: 8%;">序号</th>
									<th style="text-align: center;width: 23%;">设备名称</th>
									<th style="text-align: center;width: 8%;">状态</th>
									<th style="text-align: center;">#1开关</th>
									<th style="text-align: center;" colspan="2">操作</th>
									<th style="text-align: center;">#2开关</th>
									<th style="text-align: center;" colspan="2">操作</th>
								</thead>
								<tbody>
									<tr v-for="(item,i) in list" style="height: 50px;">
										<td style="line-height:3rem;text-align: center;">{{item.index}}</td>
										<td style="line-height:3rem;text-align: center;"><button style="background-color: #000033;border-color:#000033;border: 0px;"
											 @click="equipdrawchar(item.equipmentid)">{{item.equipment}}</button></td>
										<td style="line-height:3rem;text-align: center;">{{item.status}}</td>
										<td><img :src="path1[i]" style="width: 30px;height: 30px;margin-left: 1.5rem;"></td>
										<td><button type="button" class="btn btn-primary" @click="changedlq(item.equipmentid,2,1,i)">分闸</button></td>
										<td><button type="button" class="btn btn-primary" @click="changedlq(item.equipmentid,1,1,i)">合闸</button></td>
										<td><img :src="path2[i]" style="width: 30px;height: 30px;margin-left: 1.5rem;"> </td>
										<td><button type="button" class="btn btn-primary" @click="changedlq(item.equipmentid,4,1,i)">分闸</button></td>
										<td><button type="button" class="btn btn-primary" @click="changedlq(item.equipmentid,3,1,i)">合闸</button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="itemDiv2 float-left marLeft col-md-5" style="height:50vh;border: 0px;" >
						<div>
							<h4 class="fontColWhite" style="font-weight: 900;float: left;">分闸统计</h4><a href="historicalData.html" class="" style="float: right;color: white;font-style: normal;">查看详情</a>
							<div class="clearfix"></div>
						</div>
						<div style="height:85%">
							<div id="warning1" style="width:95%;height:95%"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="//api.map.baidu.com/api?v=2.0&ak=uwBlrN3aQ8U7qyuYwfCcauR4Gb5UvTYL"></script>
	<script type="text/javascript" src="http://developer.baidu.com/map/custom/stylelist.js"></script>
	<script src="../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="../js/axios.min.js"></script>
	<script type="text/javascript">
		var app = new Vue({
			el: '#app',
			data: {
				list: {},
				monarray: [],
				path1: [],
				path2: [],
				onceflag: true,
				interval: null,
				gpsinfo: ["合子坳村", "胡家棚村", "晒鼓坪村"],
				activeClass1:"close",
				activeClass2:"close",
				num:0,
				eqid:"",
				status:0,
				swithnum:'',
				switchstatus:'',
				eqinfo:'',
				changeid:'',
				changeswmsg:[],
				content:[],
				data_prev:[],
				password:'',
				accessGrade:[false,false,false,false,false,false,false,false,false,false,false,false],
				accessTownship:-1,
				allinfo:true,
			},
			methods: {
				//画图方法
				drawmap(gps, array) {
					console.log('gps:'+gps.length);
					console.log('array:'+array.length);
					var _this = this
					var eqarray = array
					var map = new BMap.Map("equipmentChinaMap"); // 创建Map实例
					var mapStyle = {
						features: ["road", "building", "water", "land"], //隐藏地图上的"poi",
						style: "midnight",
					};
					map.setMapStyle(mapStyle);
					var myIconclose = new BMap.Icon("../img/close.png", new BMap.Size(33, 35), {
						imageSize: new BMap.Size(33, 35)
					});
					var myIconopen = new BMap.Icon("../img/open.png", new BMap.Size(33, 35), {
						imageSize: new BMap.Size(33, 35)
					});
					if(gps.length == 2){
						map.centerAndZoom(new BMap.Point(gps[0], gps[1]), 13);// 初始化地图,设置中心点坐标和地图级别
					}else{
						map.centerAndZoom(new BMap.Point(gps[0][0], gps[0][1]), 13); // 初始化地图,设置中心点坐标和地图级别
					}
					axios({
						url: 'http://47.98.250.89:7002/eq/status',
						method: 'get',
						params: {
							id: eqarray
						},
					}).then(function(result) {
						for (var i in result.data) {
							if (result.data[i].length != 0) {
								if (result.data[i][0].switchnum == 1) {
									myIcon = myIconopen
								} else {
									myIcon = myIconclose
								}
							} else {
								myIcon = myIconclose
							}
							if(gps.length==2){
								var opts = {
									position: new BMap.Point(gps[0], gps[1]), // 指定文本标注所在的地理位置
									offset: new BMap.Size(0, -10) // 设置文本偏移量
								};
							}else{
								var opts = {
									position: new BMap.Point(gps[i][0], gps[i][1]), // 指定文本标注所在的地理位置
									offset: new BMap.Size(0, -10) // 设置文本偏移量
								};
							}
							if(_this.accessTownship==-1){
								var label = new BMap.Label(_this.gpsinfo[i], opts);
							}else{
								var label = new BMap.Label(_this.gpsinfo, opts);
							}
							label.setStyle({
								color: 'white',
								borderRadius: '5px',
								borderColor: 'transparent',
								padding: '10px',
								fontSize: '10px',
								height: '30px',
								lineHeight: '20px',
								fontFamily: '微软雅黑',
								backgroundColor: 'transparent',
							});
							map.addOverlay(label);
							if(gps.length == 2){
								var marker = new BMap.Marker(new BMap.Point(gps[0], gps[1]), {
									icon: myIcon
								});
							}else{
								var marker = new BMap.Marker(new BMap.Point(gps[i][0], gps[i][1]), {
								icon: myIcon
								});
							}
							
							map.addOverlay(marker);
						}
					});

					// var mk = new BMap.Marker(e.point);
					// map.addOverlay(mk);
					// map.panTo(e.point);
					map.addControl(new BMap.MapTypeControl({
						mapTypes: [
							BMAP_NORMAL_MAP,
							BMAP_HYBRID_MAP
						]
					}));
					// map.setCurrentCity("武汉");          // 设置地图显示的城市 此项是必须设置的
					map.enableScrollWheelZoom(true);
				},
				//制作表格方法
				drawechart(data1, data2,data3,data4) {
					var warning1 = echarts.init(document.getElementById("warning1"));
					option = {
						title: {
							textStyle: { //图例文字的样式
								color: 'white',

							},
							text: ''
						},
						tooltip: {
							trigger: 'axis'
						},
						color: ['#ff0097', '#ff3300'],
						legend: {
							selected: {
								'#1分闸次数/(次)': true,
								'#1分闸时间/(分)': false,
								'#2分闸次数/(次)': false,
								'#2分闸时间/(分)': false,
							},
							textStyle: { //图例文字的样式
								color: "white"
							},
							data: ['#1分闸次数/(次)', '#1分闸时间/(分)','#2分闸次数/(次)', '#2分闸时间/(分)']
						},
						grid: {
							left: '3%',
							right: '4%',
							bottom: '3%',
							containLabel: true
						},
						toolbox: {
							feature: {
								saveAsImage: {}
							}
						},
						xAxis: {
							type: 'category',
							boundaryGap: false,
							axisLine: {
								lineStyle: {
									color: '#6ab2ec',
								}
							},
							axisLabel: {
								textStyle: {
									fontSize: 15 // 让字体变小
								}
							},
							data: this.monarray,
						},
						yAxis: {
							type: 'value',
							splitLine: {
								show: true,
								//  改变轴线颜色
								lineStyle: {
									// 使用深浅的间隔色
									color: ['#132a6e']
								}
							},
							//设置轴线的属性
							axisLine: {
								lineStyle: {
									color: '#6ab2ec',
								}
							}
						},
						series: [{
								name: '#1分闸次数/(次)',
								type: 'line',
								stack: '总量',
								itemStyle: {
									normal: {
										color: '#ff0097', //改变折线点的颜色
										lineStyle: {
											color: '#ff0097' //改变折线颜色
										}
									}
								},
								data: data1
							},
							{
								name: '#1分闸时间/(分)',
								type: 'line',
								stack: '总量',
								itemStyle: {
									normal: {
										color: '#ff3300', //改变折线点的颜色
										lineStyle: {
											color: '#ff3300' //改变折线颜色
										}
									}
								},
								data: data2
							},
							{
									name: '#2分闸次数/(次)',
									type: 'line',
									stack: '总量',
									itemStyle: {
										normal: {
											color: '#ff0097', //改变折线点的颜色
											lineStyle: {
												color: '#ff0097' //改变折线颜色
											}
										}
									},
									data: data3
								},
								{
									name: '#2分闸时间/(分)',
									type: 'line',
									stack: '总量',
									itemStyle: {
										normal: {
											color: '#ff3300', //改变折线点的颜色
											lineStyle: {
												color: '#ff3300' //改变折线颜色
											}
										}
									},
									data: data4
								},
						]
					};
					warning1.setOption(option);
					warning1.on("legendselectchanged", function(e) {

						for (var index = 0; index < option.legend.data.length; index++) {
							if (e.name == option.legend.data[index]) {
								option.legend.selected[e.name] = true; //如果选中，则显示折线
							} else {
								option.legend.selected[option.legend.data[index]] = false; // 将状态设置为未选中
							}
						}
						warning1.setOption(option);
					});
				},
				//获取表格横坐标
				getmon() {
					var data = new Date();
					//获取年
					var year = data.getFullYear();
					//获取月
					var mon = data.getMonth() + 1;
					var arry = new Array();
					for (var i = 0; i < 6; i++) {
						mon = mon;
						if (mon <= 0) {
							year = year - 1;
							mon = mon + 12;
						}
						if (mon < 10) {
							mon = "0" + mon;
						}
						arry[5 - i] = mon + "月";
						mon--
					}
					this.monarray = arry
				},
				//获取表格信息
				geteqinfo(eqid, gps) {
					var _this = this;
					var array = [];
					var switchchange = false;
					if (eqid == 1) {
						var eqlist1 = 't200618001,t201109001,t201101001';
						var eqlistname = ['t200618001', 't201109001', 't201101001'];
					} else if (eqid == 2) {
						var eqlist1 = 't201001001,t200618001,t200618001'
						var eqlistname = ['t201001001', 't200618001', 't200618001'];
					} else if (eqid == 3) {
						var eqlist1 = 't200618001,t200618001,t200618001,t200618001'
						var eqlistname = ['t200618001', 't200618001', 't200618001', 't200618001'];
					} else if (eqid == 4) {
						var eqlist1 = 't200618001,t200618001,t200618001,t200618001,t200618001,t200618001,t200618001,t200618001'
						var eqlistname = ['t200618001', 't200618001', 't200618001', 't200618001', 't200618001', 't200618001',
							't200618001', 't200618001'
						];
					} else if (eqid == 5) {
						var eqlist1 = 't200618001,t200618001,t200618001,t200618001'
						var eqlistname = ['t200618001', 't200618001', 't200618001', 't200618001'];
					} else if (eqid == 6) {
						var eqlist1 = 't200618001,t200618001,t200618001,t200618001,t200618001,t200618001,t200618001'
						var eqlistname = ['t200618001', 't200618001', 't200618001', 't200618001', 't200618001', 't200618001',
							't200618001'
						];
					} else if (eqid == 7) {
						var eqlist1 =
							't200618001,t200618001,t200618001,t200618001,t200618001,t200618001,t200618001,t200618001,t200618001,t200618001'
						var eqlistname = ['t200618001', 't200618001', 't200618001', 't200618001', 't200618001', 't200618001',
							't200618001', 't200618001', 't200618001', 't200618001'
						];
					} else if (eqid == 8) {
						var eqlist1 = 't200618001'
						var eqlistname = ['t200618001'];
					} else if (eqid == 9) {
						var eqlist1 = 't201109002,t200618001,t200618001,t200618001,t200618001,t200618001,t200618001'
						var eqlistname = ['t201109002', 't200618001', 't200618001', 't200618001', 't200618001', 't200618001',
							't200618001'
						];
					} else if (eqid == 10) {
						var eqlist1 = 't201109003,t201109004,t201109005,t201109006,t201109007'
						var eqlistname = ['t201109003', 't201109004', 't201109005', 't201109006', 't201109007'];
					} else if (eqid == 11) {
						var eqlist1 = 't201109008,t201109009,t201109010'
						var eqlistname = ['t201109008', 't201109009', 't201109010'];
					}
					if(this.accessTownship!=-1){
						eqlistname = [eqlistname[this.accessTownship]];
						eqlist1 = (eqlist1.split(","))[this.accessTownship];
					}
					axios({
						url: 'http://47.98.250.89:7002/eq/find',
						method: 'get',
						params: {
							id: eqlist1
						},
					}).then(function(res) {
						axios({
							url: 'http://47.98.250.89:7002/eq/status',
							method: 'get',
							params: {
								id: eqlist1
							},
						}).then(function(result) {
							
							if(_this.data_prev.length!=eqlistname.length){
								_this.data_prev = result.data
							}
							for (var i in res.data) {
								
								if(_this.data_prev[i][0].switchnum!=result.data[i][0].switchnum){
									switchchange = true
								}
								if (res.data == null) {
									continue;
								}
								if (result.data[i][0].switchnum == 0) {
									var warningformat = '在线'
								} else {
									var warningformat = '离线'
								}
								var dlpstatus1, dlpstatus2
								if (res.data[i].A3_0 == 0) {
									_this.path1[i] = "../img/green1.png"
								} else {
									_this.path1[i] = "../img/red1.png"
								}
								if (res.data[i].A3_1 == 0) {
									_this.path2[i] = "../img/green1.png"
								} else {
									_this.path2[i] = "../img/red1.png"
								}
								if (_this.changeid[i].num1 == undefined && _this.changeid[i].num2 == undefined) {
									_this.changeid[i].num1 = res.data[i].A3_0;
									_this.changeid[i].num2 = res.data[i].A3_1;
								} else if (_this.changeid[i].num1 != undefined && _this.changeid[i].num2 != undefined) {
									if (_this.changeid[i].num1 == res.data[i].A3_0 && _this.changeid[i].num2 == res.data[i].A3_1) {
								
									} else if (_this.changeid[i].num1 == res.data[i].A3_0 && _this.changeid[i].num2 != res.data[i].A3_1) {
										let switchstatus = '';
										if (res.data[i].A3_1 == 1) {
											switchstatus = '分闸'
										} else if (res.data[i].A3_1 == 0) {
											switchstatus = '合闸'
										}
										swmsg = {
											id: _this.gpsinfo[i],
											num: 2,
											status: switchstatus
										}
										_this.changeswmsg.push(swmsg);
										_this.changeid[i].num2 = res.data[i].A3_1;
									} else if (_this.changeid[i].num1 != res.data[i].A3_0) {
										let switchstatus = '';
										if (res.data[i].A3_0 == 1) {
											switchstatus = '分闸'
										} else if (res.data[i].A3_0 == 0) {
											switchstatus = '合闸'
										}
										swmsg = {
											id: _this.gpsinfo[i],
											num: 1,
											status: switchstatus
										}
										_this.changeswmsg.push(swmsg);
										_this.changeid[i].num1 = res.data[i].A3_0;
									}
								}
								var eqindex = i;
								var newlist = {
									index: ++eqindex,
									equipment: _this.gpsinfo[i],
									equipmentid: eqlistname[i],
									status: warningformat,
									A3_0: dlpstatus1,
									A3_1: dlpstatus2,
								}
								array.push(newlist);
							}
							_this.list = array;
							_this.data_prev = result.data;
							if(switchchange){
								_this.drawmap(gps, eqlist1);
							}
							// console.log('offline:'+offline);
							// console.log('_this.onceflag:'+_this.onceflag);
							// if (offline == true && _this.onceflag == true) {
							// 	_this.drawmap(gps, eqlist1);
							// 	_this.onceflag = false;
							// } else if (offline == false && _this.onceflag == false) {
							// 	_this.drawmap(gps, eqlist1);
							// 	_this.onceflag = true;
							// }
						});
					});

				},
				//获取gps定位信息
				getinfoall(){
					var gps = [];
					var eqlistname = ''
					var eqlistarray = []
					var _this = this
					gps = [
						[111.14583333333333, 30.534166666666668],
						[111.11083333333333, 30.537222222222223],
						[111.12333333333333, 30.4875],
						[111.2225, 30.421944444444446],
						[111.20166666666667, 30.428055555555556],
						[111.22083333333333, 30.41611111111111],
						[111.11194444444445, 30.339444444444446],
						[111.05944444444444, 30.35472222222222],
						[111.1575, 30.315],
						[111.08805555555556, 30.264444444444443],
						[111.03888888888889, 30.4725],
						[111.02, 30.38722222222222],
						[110.88777777777777, 30.328055555555554],
						[110.946111111111, 30.306666666666665],
						[111.025555555556, 30.308888888888887],
						[110.9225, 30.415],
						[110.834444444444, 30.358888888888888],
						[110.794722222222, 30.2825],
						[110.875, 30.4411111111111],
						[110.875833333333, 30.4411111111111],
						[110.86, 30.4622222222222],
						[110.857777777778, 30.4986111111111],
						[110.580277777778, 30.3752777777778],
						[110.646666666667, 30.47861111],
						[110.693611111111, 30.4575],
						[110.728333333333, 30.4441666666667],
						[110.727222222222, 30.4436111111111],
						[110.608888888889, 30.375],
						[110.736944444444, 30.3608333333333],
						[110.492222222222, 30.4863888888889],
						[110.530833333333, 30.4236111111111],
						[110.534166666667, 30.4575],
						[110.562777777778, 30.4897222222222],
						[110.41, 30.4869444444444],
						[110.391666666667, 30.3808333333333],
						[110.415555555556, 30.39],
						[110.423055555556, 30.3636111111111],
						[110.424722222222, 30.3558333333333],
						[110.525277777778, 30.4808333333333],
						[110.786944444444, 30.475],
						[110.479444444444, 30.6105555555556],
						[110.453888888889, 30.6130555555556],
						[110.538333333333, 30.7383333333333],
						[110.635833333333, 30.6288888888889],
						[110.588888888889, 30.5827777777778],
						[110.539166666667, 30.5566666666667],
						[110.499166666667, 30.5416666666667],
						[110.751111111111, 30.6544444444444],
						[110.9575, 30.6663888888889],
						[110.9375, 30.7075],
						[110.870277777778, 30.6825],
						[110.944166666667, 30.6644444444444],
						[110.927777777778, 30.6061111111111],
						[111.016666666667, 30.5783333333333],
						[111.103611111111, 30.5519444444444]
					];
					eqlistname = 't200618001,t201109001,t201101001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201208001,t201109002,t201109003,t201109004,t201109005,t201109006,t201109007,t201109008,t201109009,t201109010';
					eqlistarray = ['t200618001', 't201109001', 't201101001'];
					_this.gpsinfo = ["合子坳村习家坳", "胡家棚村太阳山", "晒鼓坪村荒田岗","多宝寺村红土包", "花桥村公审坡", "救师口村杨家坳","边家坪村天堰恼", "桂花园村杨雀岭", "石磙淌村顶坪", "钟家湾村小坳子","塘坊河村大石坝", "高桥村石岭", "立志坪村墩上", "五尖山村阳坡", "峰岩村沙堡", "水竹园村毛狗坡", "璞岭村陈家湾", "城五河村杜村溪","鸭子口村土木淌", "静安村堰淌坪", "马连坪村上坪大湾", "古坪村庙坪","九龙村中坪", "柳松坪村大林子", "五房岭村青龙岭", "凉水寺村碾子坪", "泉水湾村蒿子坡茶厂", "水连村低坪", "竹园坪村新基坪","高峰村火石埫", "双龙村黄土包", "西坪村大山", "布政村朱家坳", "龙池村柳山", "梁山坝村羊子坡", "板凳坳村雷家包", "龙坪村郭家坳", "龙坪村余家淌","沿坪村中沿乡","黍子岭村中间包","茶园村亲娅", "关口垭村双河口", "梓榔坪村晨光家园", "长丰村长丰", "八角庙村黄家凳", "沙地村沙地", "乐园村袁家包","堡镇村千家坪", "青岗坪村牛地坪", "七里坪村红岩子", "白沙驿村分水岭", "龙王冲村猴子坡","魏家洲村头坪", "流溪村郑家坝", "佑溪村柳树湾"]
					this.getmon();
					this.drawmap(gps, eqlistname);
					console.log(this.list);
					this.list={};
					console.log(this.list);
					this.allinfo = false;
					$("#baidumap").css("height","90vh");
				},
				getinfo(num) {
					var gps = [];
					var eqlistname = ''
					var eqlistarray = []
					var _this = this
					this.allinfo = true;
					$("#baidumap").css("height","50vh");
					if (num == 1) {
						gps = [
							[111.14583333333333, 30.534166666666668],
							[111.11083333333333, 30.537222222222223],
							[111.12333333333333, 30.4875]
						];
						eqlistname = 't200618001,t201109001,t201101001';
						eqlistarray = ['t200618001', 't201109001', 't201101001'];
						_this.gpsinfo = ["合子坳村习家坳", "胡家棚村太阳山", "晒鼓坪村荒田岗"]
					} else if (num == 2) {
						gps = [
							[111.2225, 30.421944444444446],
							[111.20166666666667, 30.428055555555556],
							[111.22083333333333, 30.41611111111111]
						];
						eqlistname = 't201001001,t200618001,t200618001';
						eqlistarray = ['t201001001', 't201001001', 't201101001'];
						_this.gpsinfo = ["多宝寺村红土包", "花桥村公审坡", "救师口村杨家坳"]
					} else if (num == 3) {
						gps = [
							[111.11194444444445, 30.339444444444446],
							[111.05944444444444, 30.35472222222222],
							[111.1575, 30.315],
							[111.08805555555556, 30.264444444444443]
						];
						eqlistname = 't200618001,t200618001,t200618001,t200618001';
						eqlistarray = ['t200618001', 't201001001', 't201101001'];
						_this.gpsinfo = ["边家坪村天堰恼", "桂花园村杨雀岭", "石磙淌村顶坪", "钟家湾村小坳子"]
					} else if (num == 4) {
						gps = [
							[111.03888888888889, 30.4725],
							[111.02, 30.38722222222222],
							[110.88777777777777, 30.328055555555554],
							[110.946111111111, 30.306666666666665],
							[111.025555555556, 30.308888888888887],
							[110.9225, 30.415],
							[110.834444444444, 30.358888888888888],
							[110.794722222222, 30.2825]
						];
						eqlistname = 't200618001,t200618001,t200618001,t200618001,t200618001,t200618001,t200618001,t200618001';
						eqlistarray = ['t200618001', 't201001001', 't201101001'];
						_this.gpsinfo = ["塘坊河村大石坝", "高桥村石岭", "立志坪村墩上", "五尖山村阳坡", "峰岩村沙堡", "水竹园村毛狗坡", "璞岭村陈家湾", "城五河村杜村溪"]
					} else if (num == 5) {
						gps = [
							[110.875, 30.4411111111111],
							[110.875833333333, 30.4411111111111],
							[110.86, 30.4622222222222],
							[110.857777777778, 30.4986111111111]
						];
						eqlistname = 't200618001,t200618001,t200618001,t200618001';
						eqlistarray = ['t200618001', 't201001001', 't201101001'];
						_this.gpsinfo = ["鸭子口村土木淌", "静安村堰淌坪", "马连坪村上坪大湾", "古坪村庙坪"]
					} else if (num == 6) {
						gps = [
							[110.580277777778, 30.3752777777778],
							[110.646666666667, 30.47861111],
							[110.693611111111, 30.4575],
							[110.728333333333, 30.4441666666667],
							[110.727222222222, 30.4436111111111],
							[110.608888888889, 30.375],
							[110.736944444444, 30.3608333333333]
						];
						eqlistname = 't200618001,t200618001,t200618001,t200618001,t200618001,t200618001,t200618001';
						eqlistarray = ['t200618001', 't201001001', 't201101001'];
						_this.gpsinfo = ["九龙村中坪", "柳松坪村大林子", "五房岭村青龙岭", "凉水寺村碾子坪", "泉水湾村蒿子坡茶厂", "水连村低坪", "竹园坪村新基坪"]
					} else if (num == 7) {
						gps = [
							[110.492222222222, 30.4863888888889],
							[110.530833333333, 30.4236111111111],
							[110.534166666667, 30.4575],
							[110.562777777778, 30.4897222222222],
							[110.41, 30.4869444444444],
							[110.391666666667, 30.3808333333333],
							[110.415555555556, 30.39],
							[110.423055555556, 30.3636111111111],
							[110.424722222222, 30.3558333333333],
							[110.525277777778, 30.4808333333333]
						];
						eqlistname =
							't200618001,t200618001,t200618001,t200618001,t200618001,t200618001,t200618001,t200618001,t200618001,t200618001';
						eqlistarray = ['t200618001', 't201001001', 't201101001'];
						_this.gpsinfo = ["高峰村火石埫", "双龙村黄土包", "西坪村大山", "布政村朱家坳", "龙池村柳山", "梁山坝村羊子坡", "板凳坳村雷家包", "龙坪村郭家坳", "龙坪村余家淌",
							"沿坪村中沿乡"
						]
					} else if (num == 8) {
						gps = [
							[110.786944444444, 30.475]
						];
						eqlistname = 't200618001';
						eqlistarray = ['t200618001'];
						_this.gpsinfo = ["黍子岭村中间包"]
					} else if (num == 9) {
						gps = [
							[110.479444444444, 30.6105555555556],
							[110.453888888889, 30.6130555555556],
							[110.538333333333, 30.7383333333333],
							[110.635833333333, 30.6288888888889],
							[110.588888888889, 30.5827777777778],
							[110.539166666667, 30.5566666666667],
							[110.499166666667, 30.5416666666667]
						];
						eqlistname = 't201109002,t200618001,t200618001,t200618001,t200618001,t200618001,t200618001';
						eqlistarray = ['t201109002', 't201001001', 't201101001'];
						_this.gpsinfo = ["茶园村亲娅", "关口垭村双河口", "梓榔坪村晨光家园", "长丰村长丰", "八角庙村黄家凳", "沙地村沙地", "乐园村袁家包"]
					} else if (num == 10) {
						gps = [
							[110.751111111111, 30.6544444444444],
							[110.9575, 30.6663888888889],
							[110.9375, 30.7075],
							[110.870277777778, 30.6825],
							[110.944166666667, 30.6644444444444]
						];
						eqlistname = 't201109003,t201109004,t201109005,t201109006,t201109007';
						eqlistarray = ['t201109003', 't201109004', 't201109005','t201109006','t201109007'];
						_this.gpsinfo = ["堡镇村千家坪", "青岗坪村牛地坪", "七里坪村红岩子", "白沙驿村分水岭", "龙王冲村猴子坡"]
					} else if (num == 11) {
						gps = [
							[110.927777777778, 30.6061111111111],
							[111.016666666667, 30.5783333333333],
							[111.103611111111, 30.5519444444444]
						];
						eqlistname = 't201109008,t201109009,t201109010';
						eqlistarray = ['t201109008', 't201109009', 't201109010'];
						_this.gpsinfo = ["魏家洲村头坪", "流溪村郑家坝", "佑溪村柳树湾"]
					}
					this.changeid=[]
					for(var stnum in _this.gpsinfo){
						this.changeid.push({num1:undefined,num2:undefined});
					};
					if(this.accessTownship!=-1){
						gps = gps[this.accessTownship];
						eqlistname = (eqlistname.split(","))[this.accessTownship];
						_this.gpsinfo = [_this.gpsinfo[this.accessTownship]];
					}
					this.geteqname(eqlistname);
					// console.log(gps);
					console.log('eqlistname:'+eqlistname);
					// console.log('gpsinfo:'+_this.gpsinfo[1]);
					this.getmon();
					this.drawmap(gps, eqlistname);
					this.geteqinfo(num, gps);
					this.getechartinfo(eqlistname);
					if (this.interval != null) { //判断计时器是否为空
						clearInterval(this.interval);
						this.interval = null;
					}
					this.interval = setInterval(this.geteqinfo, 1000, num, gps);
				},
				//获取图标数据
				getechartinfo(eqid) {
					let _this = this;
					console.log(eqid);
					axios({
						url: 'http://47.98.250.89:7002/eq/healthboard',
						method: 'get',
						params: {
							eqid: eqid
						},
					}).then(function(result) {
						var data1 = [0, 0, 0, 0, 0, 0];
						var data2 = [0, 0, 0, 0, 0, 0];
						var data3 = [0, 0, 0, 0, 0, 0];
						var data4 = [0, 0, 0, 0, 0, 0];
						console.log(result.data);
						for (var num1 in result.data) {
							data1[0] += result.data[num1][0][0]
							data2[0] += result.data[num1][1][0]
							data3[0] += result.data[num1][2][0]
							data4[0] += result.data[num1][3][0]
							data1[1] += result.data[num1][0][1]
							data2[1] += result.data[num1][1][1]
							data3[1] += result.data[num1][2][1]
							data4[1] += result.data[num1][3][1]
							data1[2] += result.data[num1][0][2]
							data2[2] += result.data[num1][1][2]
							data3[2] += result.data[num1][2][2]
							data4[2] += result.data[num1][3][2]
							data1[3] += result.data[num1][0][3]
							data2[3] += result.data[num1][1][3]
							data3[3] += result.data[num1][2][3]
							data4[3] += result.data[num1][3][3]
							data1[4] += result.data[num1][0][4]
							data2[4] += result.data[num1][1][4]
							data3[4] += result.data[num1][2][4]
							data4[4] += result.data[num1][3][4]
							data1[5] += result.data[num1][0][5]
							data2[5] += result.data[num1][1][5]
							data3[5] += result.data[num1][2][5]
							data4[5] += result.data[num1][3][5]
						}
						_this.drawechart(data1, data2,data3,data4);
					});
				},
				//修改断路器状态
				changedlq(eqid, num, status,i) {
					let _this = this;
					let eqidtrans = eqid.replace('t', 'a');
					this.activeClass1 = "";
					this.num = num ;
					this.eqid = eqidtrans;
					this.status = status;
					this.eqinfo = this.gpsinfo[i];
					console.log(this.eqid);
					if(num==1||num==2){
						_this.swithnum = "#1"
						if(num==1){
							this.switchstatus = "合闸"
						}else{
							this.switchstatus = "分闸"
						}
					}else if(num==3||num==4){
						_this.swithnum = "#2"
						if(num==3){
							this.switchstatus = "合闸"
						}else{
							this.switchstatus = "分闸"
						}
					}
				},
				//点击事件
				equipdrawchar(eqid) {
					let _this = this;
					console.log('eqid:'+eqid);
					this.getechartinfo(eqid);
					sessionStorage.setItem("equipmentid",eqid);
				},
				cancel1(){
					this.activeClass1="close"
				},
				cancel2(i){
					if(this.changeswmsg.length == 1){
						this.changeswmsg = [];
					}else{
						this.changeswmsg.splice(i,1);
					}
					
					this.activeClass2="close"
				},
				conform1(){
					let _this = this;
					let v=sessionStorage['userid'];
					let id= v.replace("\"", "").replace("\"", "");
					
					axios({
						url: 'http://47.98.250.89:7002/login',
						method: 'get',
						params: {
							id:id,
							pws:_this.password
						},
					}).then(function(res) {
						if(res.data == 1){
							axios({
								url: 'http://47.98.250.89:7002/send/command',
								method: 'get',
								params: {
									eqid: _this.eqid,
									num: _this.num,
									status: _this.status,
									},
							}).then(function(result) {
								alert('发送成功');
							});
						}else{
							alert("登录失败，请检查密码是否输入正确!");
						}
					});
					this.password="";
					this.activeClass1="close";
				},
				changeswithchwarning(){
					var _this = this
					this.content = [];
					if (_this.changeswmsg.length != 0) {
						for (var changeswmsgnum in _this.changeswmsg) {
							
							if(_this.changeswmsg[changeswmsgnum].status == ''){
								_this.content[changeswmsgnum] = _this.changeswmsg[changeswmsgnum].id + '设备状态改变'
							}else{
								_this.content[changeswmsgnum] = _this.changeswmsg[changeswmsgnum].id + '的第' +_this.changeswmsg[changeswmsgnum].num + "个开关" + _this.changeswmsg[changeswmsgnum].status
							}
						}
						_this.activeClass2='';
						// _this.changeswmsg = [];
					}
				},
				async getidaccess(id){
					var _this = this
					let firstlist=''
					let alldtulist=['t200618001,t201109001,t201101001','t201001001,t200618001,t200618001','t200618001,t200618001,t200618001,t200618001','t200618001,t200618001,t200618001,t200618001,t200618001,t200618001,t200618001,t200618001','t200618001,t200618001,t200618001,t200618001','t200618001,t200618001,t200618001,t200618001,t200618001,t200618001,t200618001','t200618001,t200618001,t200618001,t200618001,t200618001,t200618001,t200618001,t200618001,t200618001,t200618001','t200618001','t201109002,t200618001,t200618001,t200618001,t200618001,t200618001,t200618001','t201109003,t201109004,t201109005,t201109006,t201109007','t201109008,t201109009,t201109010']
					await axios({
						url: 'http://47.98.250.89:7002/id/getidaccess',
						method: 'get',
						params: {
							id:id,
						},
					}).then(function(res) {
						// console.log(res.data);
						if(res.data[0].qxdj == 1){
							for(let i in _this.accessGrade){
								_this.accessGrade[i]= true;
							}
							firstlist = alldtulist[0];
						}else if(res.data[0].qxdj == 2){
							_this.accessGrade[res.data[0].gxqy]=true;
							firstlist = alldtulist[res.data[0].gxqy];
						}else if(res.data[0].qxdj == 3){
							_this.accessGrade[res.data[0].gxqy]=true;
							_this.accessTownship = res.data[0].gxxz;
							firstlist = (alldtulist[res.data[0].gxqy].split(","))[_this.accessTownship];
						}
						_this.getinfo(res.data[0].gxqy+1);
					});
					console.log(firstlist);
					
				},
				async geteqname(id){
					await axios({
						url: 'http://47.98.250.89:7002/eq/status',
						method: 'get',
						params: {
							id:id,
						},
					}).then(function(res){
						console.log(res.data);
					});
				}
			},
			mounted() {
				var v=sessionStorage['userid'];
				var userid = v.replace("\"", "").replace("\"", "");
				// this.getinfo(1);
				this.getidaccess(userid);
				// this.getechartinfo('t200618001,t201109001,t201101001');
				setInterval(this.changeswithchwarning,1000);
			},
		})
	</script>
	<!-- <script type="text/javascript">
		$(function() {
			var map = new BMap.Map("equipmentChinaMap"); // 创建Map实例
			var mapStyle = {
				features: ["road", "building", "water", "land"], //隐藏地图上的"poi",
				style: "midnight",
			};
			map.setMapStyle(mapStyle);
			map.centerAndZoom(new BMap.Point(111.14583333333333, 30.534166666666668), 13); // 初始化地图,设置中心点坐标和地图级别
			gps = [
				[111.14583333333333, 30.534166666666668],
				[111.11083333333333, 30.537222222222223],
				[111.12333333333333, 30.4875]
			]
			// var myIcon = new BMap.Icon("../img/box.png", new BMap.Size(52, 26));
			for (var i in gps) {
				var marker = new BMap.Marker(new BMap.Point(gps[i][0], gps[i][1]));
				map.addOverlay(marker);
			}
			//添加地图类型控件
			map.addControl(new BMap.MapTypeControl({
				mapTypes: [
					BMAP_NORMAL_MAP,
					BMAP_HYBRID_MAP
				]
			}));
			map.setCurrentCity("武汉"); // 设置地图显示的城市 此项是必须设置的
			map.enableScrollWheelZoom(true);
			var drawzxt = function(data1, data2) {
				var warning1 = echarts.init(document.getElementById("warning1"));
				var data = new Date();
				//获取年
				var year = data.getFullYear();
				//获取月
				var mon = data.getMonth() + 1;
				var arry = new Array();
				for (var i = 0; i < 6; i++) {
					mon = mon;
					if (mon <= 0) {
						year = year - 1;
						mon = mon + 12;
					}
					if (mon < 10) {
						mon = "0" + mon;
					}
					arry[5 - i] = mon + "月";
					mon--
				}
				option = {
					title: {
						textStyle: { //图例文字的样式
							color: 'white',

						},
						text: ''
					},
					tooltip: {
						trigger: 'axis'
					},
					color: ['#ff0097', '#ff3300'],
					legend: {
						selected: {
							'分闸次数': true,
							'分闸时间': false
						},
						textStyle: { //图例文字的样式
							color: "white"
						},
						data: ['分闸次数', '分闸时间']
					},
					grid: {
						left: '3%',
						right: '4%',
						bottom: '3%',
						containLabel: true
					},
					toolbox: {
						feature: {
							saveAsImage: {}
						}
					},
					xAxis: {
						type: 'category',
						boundaryGap: false,
						axisLine: {
							lineStyle: {
								color: '#6ab2ec',
							}
						},
						axisLabel: {
							textStyle: {
								fontSize: 15 // 让字体变小
							}
						},
						data: arry,
					},
					yAxis: {
						type: 'value',
						splitLine: {
							show: true,
							//  改变轴线颜色
							lineStyle: {
								// 使用深浅的间隔色
								color: ['#132a6e']
							}
						},
						//设置轴线的属性
						axisLine: {
							lineStyle: {
								color: '#6ab2ec',
							}
						}
					},
					series: [{
							name: '分闸次数',
							type: 'line',
							stack: '总量',
							itemStyle: {
								normal: {
									color: '#ff0097', //改变折线点的颜色
									lineStyle: {
										color: '#ff0097' //改变折线颜色
									}
								}
							},
							data: data1
						},
						{
							name: '分闸时间',
							type: 'line',
							stack: '总量',
							itemStyle: {
								normal: {
									color: '#ff3300', //改变折线点的颜色
									lineStyle: {
										color: '#ff3300' //改变折线颜色
									}
								}
							},
							data: data2
						},
					]
				};

				warning1.setOption(option);
				warning1.on("legendselectchanged", function(e) {
					for (var index = 0; index < option.legend.data.length; index++) {
						if (e.name == option.legend.data[index]) {
							option.legend.selected[e.name] = true; //如果选中，则显示折线
						} else {
							option.legend.selected[option.legend.data[index]] = false; // 将状态设置为未选中
						}
					}
					warning1.setOption(option);
				});
			};
			drawzxt([0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0])
		});
	</script> -->
</html>
